.form-group {
  @apply flex flex-wrap -mx-3 mb-6;

  .form-item {
    @apply w-full px-3;

    &.half-width {
      @apply w-full px-3 mb-6;

      @screen md {
        @apply w-1/2 mb-0;
      }
    }
  }

  label {
    @apply block font-semibold leading-tight mb-2;

    font-size: 13px;
    letter-spacing: 0.183333px;
  }

}

.form-input{
	@apply block w-full mt-1 text-sm border border-gray-300 rounded-lg p-2;

	&:focus{
		@apply outline-none border-gray-400;
	}

	&.is-invent{
	    @apply border-r-0 rounded-r-sm border-mam-gray-dark-b;
	}

  &.small{
    @apply w-auto;
  }

  &.hidden{
    @apply hidden;
  }

  &.nb{
    @apply border-none;
  }

  &.w-16{
    @apply w-16;
  }

  &.w-18{
   width: 5rem;
  }

  &.w-28{
    width: 7rem;
  }

  &.w-36{
    width: 9rem;
  }

}

.form-input-lg{
  @apply block mt-1 text-sm border border-gray-300 rounded-lg p-2;

  &:focus{
    @apply outline-none border-gray-400;
  }

  &.is-invent{
      @apply border-r-0 rounded-r-sm border-mam-gray-dark-b;
  }

  &.small{
    @apply w-auto;
  }

  &.hidden{
    @apply hidden;
  }

  &.nb{
    @apply border-none;
  }

  &.w-16{
    @apply w-16;
  }

  &.w-18{
   width: 5rem;
  }

  &.w-28{
    width: 7rem;
  }

  &.w-36{
    width: 9rem;
  }

  &.inline{
    @apply inline;
  }

}
